h1 {
    color: black; 
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;

}

p{
    margin-right: 150px;
    margin-left: 150px;
}

body {
    padding: 15px;
    margin: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    background-color: #f0fff0;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
